<widget xmlns="http://www.w3.org/ns/widgets" xmlns:rim="http://www.blackberry.com/ns/widgets" version="1.0.0">
	<name>Iron Chariots</name>
	<description>The counter-apologetics wiki</description>
	<author rim:copyright="2012">iCottrell.com</author>
	<rim:orientation mode="landscape"/>
	<feature id="blackberry.app.event" required="true" version="1.0.0"/>
	<feature id="blackberry.invoke" required="true" version="1.0.0"/>
	<feature id="blackberry.invoke.BrowserArguments" required="true" version="1.0.0"/>
	<feature id="blackberry.invoke.MessageArguments" required="true" version="1.0.0"/>
	<icon src="icon86.png"/>
	<content src="index.html"/>
	<access subdomains="true" uri="http://www.ironchariots.org"/>
	<access subdomains="true" uri="http://wiki.ironchariots.org"/>
	<access subdomains="true" uri="http://forum.ironchariots.org"/>
</widget>